.button-dark {
  --webkit-appearance: none;
  border-radius: 1000px;
  position: relative;
  display: flex;
  outline: none;
  cursor: pointer;
  border: 4px solid #242424;
  transition: 0.8s ease all;
}

.button-dark::after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  background: #242424;
  top: 0;
  left: 0;
  right: unset;
  border-radius: 100px;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
  transition: 0.8s ease all;
  cursor: pointer;
}

.button-dark.open {
    background-color: #242424;
    border: 4px solid white;
}

.button-dark.open::after {
    right: 0;
    left: unset;
    background: #fff;
    cursor: pointer;
}

