.weather-app {
    height: 500px;
    border-radius: 32px;
    position: relative;
    background-color: #00000055;
}

@media(max-width: 599px) {
    .weather-app {
        width: 100%;
        height: 100%;
        border-radius: 0px;
    }
}

@media(min-width: 1800px) {
    .weather-app {
        height: 600px;
    }
}